<app-wrapper>
  <div *ngIf="!!detailedPost && !loading && !error">
    <h1>{{ detailedPost.title }}</h1>
    <h2>By: {{ detailedPost.user.username }}</h2>
    <div class="py-8">
      {{ detailedPost.body }}
    </div>
    <div>
      <h3>Comments:</h3>
      <div *ngFor="let comment of detailedPost.comments.data" class="py-8">
        <div>Name: {{ comment.name }}</div>
        <div>Email: {{ comment.email }}</div>
        <div>{{ comment.body }}</div>
      </div>
    </div>
  </div>

  <app-loader *ngIf="loading"></app-loader>
</app-wrapper>
